<!doctype html>
<link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png" xmlns="http://www.w3.org/1999/html">
<link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
<link rel="manifest" href="static/site.webmanifest">

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="300">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="static/main.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Thermobot5000</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Thermobot5000</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Temperature</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wife">Wife</a>
                </li>

            </ul>

        </div>
    </div>
</nav>


<container>
    <div class="col-10 mx-auto text-center">

        <h3>
            <hr class="beautiful-line">
            <div class="row">
                <div class="col-6" style="text-align: right">Temperature:</div>
                <div class="col-6" style="text-align: left">{{temperature}} &deg;C</div>
            </div>

            <hr class="beautiful-line">
            <div class="row">
                <div class="col-6" style="text-align: right">Humidity:</div>
                <div class="col-6" style="text-align: left">{{humidity}} %</div>
            </div>

            <hr class="beautiful-line">

        </h3>

    </div>


    <div class="container-lg my-3">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
            </ol>

            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <h3>
                    <div class="carousel-item active">
                        <div class="col-12" style="text-align: center">Today</br></div>
                        <img src="{{graphLiveTemperatureFilename}}"
                             onerror="this.onerror=null; this.src='static/graphs/default.png'"
                             class="img-fluid mx-auto d-block pt-3"
                             alt="Slide 1">
                        <img src="{{graphLiveHumidityFilename}}"
                             onerror="this.onerror=null; this.src='static/graphs/default.png'"
                             class="img-fluid mx-auto d-block"
                             alt="Slide 1">
                    </div>
                    <div class="carousel-item">
                        <div class="col-12" style="text-align: center">Yesterday</div>
                        <img src="{{graphYesterdayTemperatureFilename}}"
                             onerror="this.onerror=null; this.src='static/graphs/default.png'"
                             class="img-fluid mx-auto d-block pt-3"
                             alt="Slide 2">
                        <img src="{{graphYesterdayHumidityFilename}}"
                             onerror="this.onerror=null; this.src='static/graphs/default.png'"
                             class="img-fluid mx-auto d-block"
                             alt="Slide 2">
                    </div>
                    <div class="carousel-item">
                        <div class="col-12" style="text-align: center">Recent Data</div>
                        <img src="{{graphRecentTemperatureFilename}}"
                             onerror="this.onerror=null; this.src='static/graphs/default.png'"
                             class="img-fluid mx-auto d-block pt-3"
                             alt="Slide 3">
                        <img src="{{graphRecentHumidityFilename}}"
                             onerror="this.onerror=null; this.src='static/graphs/default.png'"
                             class="img-fluid mx-auto d-block"
                             alt="Slide 3">
                    </div>
                    <div class="carousel-item">
                        <div class="col-12" style="text-align: center">Maximum & Minimums Each Day</div>
                        <img src="{{graphMaxMinTemperatureFilename}}"
                             onerror="this.onerror=null; this.src='static/graphs/default.png'"
                             class="img-fluid mx-auto d-block pt-3"
                             alt="Slide 4">
                        <img src="{{graphMaxMinHumidityFilename}}"
                             onerror="this.onerror=null; this.src='static/graphs/default.png'"
                             class="img-fluid mx-auto d-block"
                             alt="Slide 4">
                    </div>
                </h3>
            </div>


        </div>


</container>


</body>
</html>