<!doctype html>
<link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
<link rel="manifest" href="static/site.webmanifest">

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!--    <link href="/static/main.css" rel="stylesheet" type="text/css" media="all">-->
    <style>
        .carousel-inner img {
        margin: auto;
        }



    </style>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Thermobot5000</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/test">Test</a>
                </li>

            </ul>

        </div>
    </div>
</nav>

<container>
    <div class="col-10 mx-auto text-center">

        <h3>
            <hr class="beautiful-line">
            <div class="row">
                <div class="col-6" style="text-align: right">Temperature:</div>
                <div class="col-6" style="text-align: left">{{temperature}} &deg;C</div>
            </div>

            <hr class="beautiful-line">
            <div class="row">
                <div class="col-6" style="text-align: right">Humidity:</div>
                <div class="col-6" style="text-align: left">{{humidity}} %</div>
            </div>
            <!--graphs-->

            <!--            <hr class="beautiful-line">-->
            <!--            Today (Live)<br>-->
            <!--            <img class="img-fluid" src="{{graphLiveTemperatureFilename}}"-->
            <!--                 onerror="this.onerror=null; this.src='static/graphs/default.png'">-->

            <!--            <hr class="beautiful-line">-->
            <!--            Yesterday<br>-->
            <!--            <img class="img-fluid" src="{{graphYesterdayTemperatureFilename}}"-->
            <!--                 onerror="this.onerror=null; this.src='static/graphs/default.png'">-->

            <!--            <hr class="beautiful-line">-->
            <!--            All Time<br>-->
            <!--            <img class="img-fluid" src="{{graphAlltimeTemperatureFilename}}"-->
            <!--                 onerror="this.onerror=null; this.src='static/graphs/default.png'">-->

            <!--            <hr class="beautiful-line">-->
            <!--            Maximum & Minimum Temperature, by Day<br>-->
            <!--            <img class="img-fluid" src="{{graphMaxMinTemperatureFilename}}"-->
            <!--                 onerror="this.onerror=null; this.src='static/graphs/default.png'">-->

            <!--            &lt;!&ndash;        <hr class="beautiful-line">&ndash;&gt;-->
            <!--            &lt;!&ndash;        <img class="img-fluid" src="{{graphWeekTemperatureFilename}}"&ndash;&gt;-->
            <!--            &lt;!&ndash;             onerror="this.onerror=null; this.src='static/graphs/default.png'">&ndash;&gt;-->


            <hr class="beautiful-line">

        </h3>

    </div>


    <div class="container-lg my-3">
        <!--        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">-->
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
            </ol>

            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <h4>>
                    <div class="carousel-item active">
                        <div class="col-12" style="text-align: center">Today (Live)</div>
                        <img src="{{graphLiveTemperatureFilename}}"
                             onerror="this.onerror=null; this.src='static/graphs/default.png'" class="img-fluid"
                             alt="Slide 1">
                    </div>
                    <div class="carousel-item">
                        <div class="col-12" style="text-align: center">Yesterday</div>
                        <img src="{{graphYesterdayTemperatureFilename}}"
                             onerror="this.onerror=null; this.src='static/graphs/default.png'" class="img-fluid"
                             alt="Slide 2">
                    </div>
                    <div class="carousel-item">
                        <div class="col-12" style="text-align: center">All Time</div>
                        <img src="{{graphAlltimeTemperatureFilename}}"
                             onerror="this.onerror=null; this.src='static/graphs/default.png'" class="img-fluid"
                             alt="Slide 3">
                    </div>
                    <div class="carousel-item">
                        <div class="col-12" style="text-align: center">Max Min</div>
                        <img src="{{graphMaxMinTemperatureFilename}}"
                             onerror="this.onerror=null; this.src='static/graphs/default.png'" class="img-fluid"
                             alt="Slide 4">
                    </div>
                </h4>
            </div>

            <!-- Carousel controls -->
            <!--            <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">-->
            <!--                <span class="carousel-control-prev-icon"></span>-->
            <!--            </a>-->
            <!--            <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">-->
            <!--                <span class="carousel-control-next-icon"></span>-->
            <!--            </a>-->
        </div>

        <!--    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">-->
        <!--        <div class="carousel-indicators">-->
        <!--            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"-->
        <!--                    aria-current="true" aria-label="Slide 1"></button>-->
        <!--            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"-->
        <!--                    aria-label="Slide 2"></button>-->
        <!--            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"-->
        <!--                    aria-label="Slide 3"></button>-->
        <!--        </div>-->
        <!--        <div class="carousel-inner">-->
        <!--            <div class="carousel-item active" data-bs-interval="10000">-->
        <!--                <img src="https://dummyimage.com/600x400/000/fff&text=thermobot+test" class="img-fluid"-->
        <!--                     onerror="this.onerror=null; this.src='static/graphs/default.png'">-->
        <!--                <div class="carousel-caption d-none d-md-block">-->
        <!--                    <h5>First slide label</h5>-->
        <!--                    <p>Some representative placeholder content for the first slide.</p>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="carousel-item" data-bs-interval="2000">-->
        <!--                <img src="http://placehold.it/600x400" class="img-fluid" alt="...">-->
        <!--                <div class="carousel-caption d-none d-md-block">-->
        <!--                    <h5>Second slide label</h5>-->
        <!--                    <p>Some representative placeholder content for the second slide.</p>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="carousel-item">-->
        <!--                <img src="http://placehold.it/600x400" class="img-fluid" alt="...">-->
        <!--                <div class="carousel-caption d-none d-md-block">-->
        <!--                    <h5>Third slide label</h5>-->
        <!--                    <p>Some representative placeholder content for the third slide.</p>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">-->
        <!--            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
        <!--            <span class="visually-hidden">Previous</span>-->
        <!--        </button>-->
        <!--        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">-->
        <!--            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
        <!--            <span class="visually-hidden">Next</span>-->
        <!--        </button>-->
        <!--    </div>-->

        <!--    Carousel-->
        <!--    <div class="col-10 mx-auto text-center">-->
        <!--        <div id="myCarousel" class="carousel slide">-->
        <!--            &lt;!&ndash; Indicators &ndash;&gt;-->
        <!--            <ol class="carousel-indicators">-->
        <!--                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
        <!--                <li data-target="#myCarousel" data-slide-to="1"></li>-->
        <!--                <li data-target="#myCarousel" data-slide-to="2"></li>-->
        <!--            </ol>-->

        <!--            &lt;!&ndash; Wrapper for slides &ndash;&gt;-->
        <!--            <div class="carousel-inner">-->
        <!--                <div class="item active">-->
        <!--                    <img class="img-fluid" src="{{graphLiveTemperatureFilename}}"-->
        <!--                         onerror="this.onerror=null; this.src='static/graphs/default.png'">-->
        <!--                    <div class="carousel-caption">-->
        <!--                        <h1>Slide 1</h1>-->
        <!--                        <p>Slide 1 Description</p>-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--                <div class="item">-->
        <!--                    <img class="img-fluid" src="{{graphYesterdayTemperatureFilename}}"-->
        <!--                         onerror="this.onerror=null; this.src='static/graphs/default.png'">-->
        <!--                    <div class="carousel-caption">-->
        <!--                        <h1>Slide 1</h1>-->
        <!--                        <p>Slide 1 Description</p>-->
        <!--                    </div>-->
        <!--                </div>-->

        <!--                <div class="item">-->
        <!--                    <img class="img-fluid" src="{{graphMaxMinTemperatureFilename}}"-->
        <!--                         onerror="this.onerror=null; this.src='static/graphs/default.png'">-->
        <!--                    <div class="carousel-caption">-->
        <!--                        <h1>Slide 1</h1>-->
        <!--                        <p>Slide 1 Description</p>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->

        <!--            &lt;!&ndash; Controls &ndash;&gt;-->
        <!--            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">-->
        <!--                <span class="icon-prev"></span>-->
        <!--            </a>-->
        <!--            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">-->
        <!--                <span class="icon-next"></span>-->
        <!--            </a>-->
        <!--        </div>-->
        <!--    </div>-->


</container>


</body>
</html>